@media screen and (min-width: 300px) {
  .header-logo {
    height: 105px;
  }
}


@media screen and (min-width: 370px) {
  .big {
    font-size: 2.1em;
  }
  
  .small {
    font-size: 1.4em;
  }
  
  .gallery {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 500px) {
  .header-logo {
  height: 160px;
  }

  .big, .Featured-Work {
  font-size: 2.7em;
  }

  .small {
    font-size: 1.4em
  }

  .hdr {
    font-size: 1.4em;
  }

  .end {
    font-size: 3em;
  }

  .end1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 800px) {
  .gallery {
    display: flex;
  }

  .big {
    font-size: 4em
  }

  .small {
    font-size
  }

  .end {
    font-size: 4em;
  }

  .end1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1000px) {
  .big {
    font-size: 4em;
  }

  .small {
    font-size: 1.9em;
  }

  .my-designs, .carousel {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
} 